<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>学生管理</title>
</head>
<h3 class="float-md-start mb-0">学生ページ</h3>
<header class="mb-auto">
	<link th:href=@{css/style.css} rel="stylesheet">
  <div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">メニュー</a>
      <a class="nav-link fw-bold py-1 px-0 active" href="/studentlist/">学生管理</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">成績登録</a>
      <a class="nav-link fw-bold py-1 px-0" href="/subject/">科目登録</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">成績参照</a>
      <a class="nav-link fw-bold py-1 px-0" href="/subjectlist/">科目管理</a>

    </nav>
  </div>
</header>

<body>
	
</body>

</html>