<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生管理</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
 
<body>
<h1 style="background-color:rgb(128, 255, 255)">得点管理システム</h1>
<span th:text="ログイン中のユーザー + ${user2.username}"></span>
<link th:href="@{/css/style.css}" rel="stylesheet">
<div style="display: flex;">
<header class="mb-auto" style="padding: 10px;">
<nav class="nav nav-masthead justify-content-center float-md-end">
<ul>
<li><a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">メニュー</a></li>
<li><a class="nav-link fw-bold py-1 px-0 active" href="/studentlist/">学生管理</a></li>
<li><a class="nav-link fw-bold py-1 px-0" href="/point/">成績登録</a></li>
<li><a class="nav-link fw-bold py-1 px-0" href="/subject/">科目登録</a></li>
<li><a class="nav-link fw-bold py-1 px-0" href="#">成績参照</a></li>
<li><a class="nav-link fw-bold py-1 px-0" href="/subjectlist/">科目管理</a></li>
<li><a class="nav-link fw-bold py-1 px-0" href="/logout/">ログアウト</a></li>
</ul>
</nav>
</header>
<div style="flex-grow: 1;"> <!-- body要素を水平方向に伸ばすためにflex-growを使用 -->
<h2>成績管理</h2>

    
    <p th:if="${param.error}">
        既に存在している学生です。.
    </p>
    <p th:if="${param.success}">
        エラー
    </p>
    
    <form id="searchForm" method="get">
                <select name="entYear">
                    <option value="" selected>入学年度を選択</option>
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>

                <select name="classNum">
                    <option value="">クラス番号を選択</option>
                    <option th:each="classNumber : ${classNumbers}" th:value="${classNumber}" th:text="${classNumber}"></option>
                </select>
                
                <select name="classNum">
                    <option value="">科目</option>
                    <option th:each="classNumber : ${classNumbers}" th:value="${classNumber}" th:text="${classNumber}"></option>
                </select>

                <button type="button" onclick="submitForm()">検索</button>
            </form>


    
    <form class="form py-4 needs-validation h-adr" method="post" th:action="@{/point/}" th:object="${test}">
    <label for="studentNo" class="col-4 col-form-label text-end">学籍番号</label>
    <input type="text" class="form-control" id="studentNo" name="studentNo">
    <br>
    
    <label for="classNum" class="col-4 col-form-label text-end">クラス番号</label>
    <input type="text" class="form-control" id="classNum" name="classNum">
    <br>
    
    <label for="schoolCd" class="col-4 col-form-label text-end">学校コード</label>
    <input type="text" class="form-control" id="schoolCd" name="schoolCd">
    <br>

    <label for="subjectCd" class="col-4 col-form-label text-end">科目コード</label>
    <input type="text" class="form-control" id="subjectCd" name="subjectCd">
    <br>
    
    <label for="no" class="col-4 col-form-label text-end">テスト回数</label>
    <input type="text" class="form-control" id="no" name="no">
    <br>

    <label for="point" class="col-4 col-form-label text-end">ポイント</label>
    <input type="text" class="form-control" id="point" name="point">
    <br>

    <button type="submit">点数登録</button>
</form>

 
 
</div>
</body>
 
</html>
